ClientWCF/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DipendenteServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="amministratore" type="xs:boolean" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DipendenteServer" nillable="true" type="tns:DipendenteServer" />
  <xs:complexType name="ListaProdottiServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaProducts" nillable="true" type="tns:ArrayOfProdottoServer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaProdottiServer" nillable="true" type="tns:ListaProdottiServer" />
  <xs:complexType name="ArrayOfProdottoServer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdottoServer" nillable="true" type="tns:ProdottoServer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdottoServer" nillable="true" type="tns:ArrayOfProdottoServer" />
  <xs:complexType name="ProdottoServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="posizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prezzo" type="xs:float" />
      <xs:element minOccurs="0" name="produttore" type="xs:int" />
      <xs:element minOccurs="0" name="quantita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdottoServer" nillable="true" type="tns:ProdottoServer" />
</xs:schema>